---
name: Daily builds
on:
  schedule:
    - cron: 0 7 * * *
jobs:
  expo-v3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build image
        run: >
          docker build . \
            --build-arg NODE_VERSION=12 \
            --build-arg EXPO_VERSION=3 \
            --tag bycedric/expo-cli:3
      - name: Test image
        run: docker run --rm bycedric/expo-cli:3 diagnostics
      - name: Authenticate docker
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u bycedric --password-stdin
      - name: Publish image
        run: |
          docker tag bycedric/expo-cli:3 bycedric/expo-cli:latest
          docker push bycedric/expo-cli:3
          docker push bycedric/expo-cli:latest
  expo-v2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build image
        run: >
          docker build . \
            --build-arg NODE_VERSION=10 \
            --build-arg EXPO_VERSION=2 \
            --tag bycedric/expo-cli:2
      - name: Test image
        run: docker run --rm bycedric/expo-cli:2 diagnostics
      - name: Authenticate docker
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u bycedric --password-stdin
      - name: Publish image
        run: docker push bycedric/expo-cli:2
